<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <input name="title" required>
    <button type="submit">送信</button>
  </form>
  <ul style='list-style: none;display:flex; flex-wrap:wrap;'>
    <% for ( const imageResult of imageResults ) { %>
    <div style="border:1px solid; width:320px; margin:4px">
      <p><%= imageResult.title %></p>
      <image style='width:320px;height:320px' src='/view/image/<%= imageResult._id %>'>
    </div>
    <% } %>
  </ul>
</body>
</html>